body{
    background-color: rgba(63, 247, 229, 0.2);
    margin:0 20% ;
}

#title{
    text-align: center;
    text-shadow:5px 5px 10px gray;
    font-size: 3em;

}
img{
    display: block;
    width: 80%;
    margin:0 10%;
}
#img-caption{
    font-size: 11px;
}
div#tribute-info{
    background-color: antiquewhite;
    box-shadow: 20px 20px 15px black;
    padding: 5px 10px;
    margin-top: 20px;

}
h1.title{
    color: aliceblue;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}
.h1{
    font-size: medium;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-size: large;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    text-align: justify;
}
#img-caption{
    text-align: center;
    font-size: large;
    font-style: italic;
}